$color-principal: #5265E1 ;
$color-secundari: #FA5959 ;
$colorbg: #3b3c42; 

$theme-colors: (
"primary":$color-principal
"secondary":$color-secundari
);


   .col-center{
      float: none;
      margin-left: auto;
      margin-right: auto;
}

.main {
    margin: 100px;
}

.hero {
background: $color-principal;
border-radius: 0 0 0 100px;
position: relative;

}

.hero-2 {
   background: $color-principal;
   border-radius: 0 0 100px 0;
   }

.nav-link:hover{
    color:#FA5959 !important; 
 }

.blue-btn{
margin: 10px;
background-color: #7e5c17;

}

 .red-btn:hover:hover{
    color: $color-secundari !important;
    background-color: white; 
    border-color: $color-secundari;
 }


 .blue-btn:hover:hover{
    color: black !important; 
    background-color: white; 
 }

 .black-btn:hover:hover{
   color: $color-principal !important; 
   background-color: white; 
 }

h1 {
    color: #000000
}

  h4 {
    margin-bottom: 10px;
    margin-top: auto;
    color: #9f9b9b

  }

.features {
   text-align: center;
   justify-items: center;
}

.btn-download:hover:hover{
   color: $color-principal !important;
    background-color: white; 
    border-color: $color-principal;
    font-weight: bold;
   }

.border-card {
   margin: 25px auto;
   border: 1px solid #ccc;
   width: 25px;
   height: 10px;
   box-shadow: 3px 3px 7px #908e8a; 
}

.border-dot {
border-bottom: 3px dotted;
border-bottom: medium dotted rgb(199, 199, 199);
}

.explorer-icon {
display:block;
margin:auto;
margin-top: 50px;
}

.card-size{
   width: 100px;
}

.card-title {
   text-align: center;
}

#position-1{
position: relative;
bottom: 35px;
left: 60px;
}

#position-3{
   position: relative;
   top: 35px;
   right: 60px;
   }

#downloads {
   position: relative;
   top: 35px;
   left: 300px;
   }

#faqs-position {
   position: relative;
   top: 100px;
   }

@import "../node_modules/bootstrap/scss/bootstrap";

